<!DOCTYPE html>
<html>

<head>
	<title>Touch Tracker Marker</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<style type="text/css">
		body {
			margin: 0px;
			overflow: hidden;
		}

		canvas {
			border: 1px solid black;
		}
	</style>
	<script type="text/javascript">
		var canvas;
		var ctx;
		var w = 0;
		var h = 0;
		var timer;
		var apiTimer;
		var speed = 0;
		var direction = 0;
		var updateStarted = false;
		var touches = [];

		function speedForCoordinate(yPosition) {
			var mapToBox = yPosition - 150;
			var mapToThumbControl = mapToBox * -1 * 0.5;
			return Math.round(mapToThumbControl);
		}

		function directionForCoordinate(xPosition) {
			var mapToThumbControl = xPosition * 0.5;
			return Math.round(mapToThumbControl);
		}

		function run_action(value){
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = "/run/";
        url = protocol + "//" + host + pathname + "?action" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }
      function set_speed(value){
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = "/run/";
        url = protocol + "//" + host + pathname + "?speed" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }

			function set_angle(value) {
        var xmlHttp  = new XMLHttpRequest();
        var protocol  = window.location.protocol;
        var host      = window.location.host;
        var pathname  = "/run/";
        url = protocol + "//" + host + pathname + "?turn" + "=" + value;
        //document.getElementById("debug").innerHTML=url;
        xmlHttp.open( "GET", url, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
      }

		function update() {
			if (updateStarted) return;
			updateStarted = true;
			var nw = window.innerWidth;
			var nh = window.innerHeight;
			if ((w != nw) || (h != nh)) {
				w = nw;
				h = nh;
				canvas.style.width = '300px';
				canvas.style.height = '300px';
				canvas.width = 300;
				canvas.height = 300;
			}
			ctx.clearRect(0, 0, w, h);
			var i, len = touches.length;
			for (i = 0; i < len; i++) {
				var touch = touches[i];
				var px = touch.pageX;
				if (px > 300) {
					px = 300;
				} else if (px < 0) {
					px = 0;
				}
				var py = touch.pageY;
				if (py > 300) {
					py = 300;
				} else if (py < 0) {
					py = 0;
				}
				ctx.beginPath();
				ctx.arc(px, py, 20, 0, 2 * Math.PI, true);
				ctx.fillStyle = "rgba(0, 0, 200, 0.2)";
				ctx.fill();
				ctx.lineWidth = 2.0;
				ctx.strokeStyle = "rgba(0, 0, 200, 0.8)";
				ctx.stroke();
				console.log('drawn circle at ' + px + ',' + py);
				console.log(speedForCoordinate(py));

				speed = speedForCoordinate(py);
				direction = directionForCoordinate(px);
			}
			updateStarted = false;
		}

		function drive() {
			if (speed > 5) {
					run_action("forward");
					set_speed(speed.toString());
				} else if (speed < -5) {
					run_action("backward");
					set_speed((speed * -1).toString());
				} else {
					run_action("stop");
				}
			
				set_angle(direction.toString());
		}

		function ol() {
			canvas = document.getElementById('canvas');
			ctx = canvas.getContext('2d');
			timer = setInterval(update, 20);
			apiTimer = setInterval(drive, 1000);
			canvas.addEventListener('touchend', function () {
				ctx.clearRect(0, 0, w, h);
			});
			canvas.addEventListener('touchmove', function (event) {
				event.preventDefault();
				touches = event.touches;
			});
			canvas.addEventListener('touchstart', function (event) {
				console.log('start');
			});
		};
	</script>
</head>

<body onload="ol()">
	<canvas id="canvas" width="300" height="300" style="top:0px; left:0px; width: 300px; height: 300px;"></canvas>
</body>

</html>